extends ../layout2.pug

block content
  div.container.col-sm-7
    div.error_div
      if errors
        each error, i in errors
          p #{error.msg}

    form(action='/account/create/', method='post')
      .form-group
        label(for='fname') First name
        input#fname(name='fname', type='text', placeholder='First Name', required='true')
        label(for='lname') Last name
        input#lname(name='lname', type='text', placeholder='Last Name', required='true')
      .form-group
        label(for='account') Account No.
        input#account(name='account_no', type='text', placeholder='Account', required='true', onfocusout='copyAccountNumber(this)')
      p
      .form-group
        label(for='gymnasium') Gymnasium Branch
        select#gymnasium(name='gymnasiums', style='width: 185px')
          each gymnasium in gymnasiums
            option(value= gymnasium._id) #{gymnasium.branch_name}


      h3 Contact Info
      .form-group
        label(for='contact_address') Address
        input#contact_address(name='contact_address', type='text', placeholder='Address', required='true')
      p
      .form-group
        label(for='contact_phone_one') Contact Phone
        input#contact_phone_one(name='contact_phone_1', type='text', placeholder='Phone', required='true')
      p
      .form-group
        label(for='contact_phone_two') Contact Phone
        input#contact_phone_two(name='contact_phone_2', type='text', placeholder='Phone')
      p
      .form-group
        label(for='contact_email') Contact Email
        input#contact_email(name='contact_email', type='text', placeholder='Email')
      p
      .form-group
        label(for='active') Active
        input#active(name='isActive', type='checkbox',  checked=true)
      button.btn.btn-primary(type='submit') Add Account
