doctype html
html
  head
    title Shanghai Gymnastics Admin

    script(src="/component/jquery/dist/jquery.min.js")
    script(src="/component/bootstrap/dist/js/bootstrap.min.js")

    link(rel="stylesheet" href="/component/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheet/main.css?2', type='text/css')


block content
  include ./header.pug
  div.container
    div.error_div
      if errors
        each error, i in errors
          p #{error.message}

    form(action='forgotpwd', method='post')
      input(name='email', type='text', placeholder='Email', required='true')
      button(type='submit') Retrieve Password 
