doctype html
html
  head
    title Shanghai Gymnastics Admin

    script(src="/component/jquery/dist/jquery.min.js")
    script(src="/component/bootstrap/dist/js/bootstrap.min.js")

    link(rel="stylesheet" href="/component/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheet/main.css?2', type='text/css')


block content
  include ./header.pug
  div.container
    div.error_div
      if errors
        each error, i in errors
          p #{error.msg}

    form(action='resetpwd', method='post')
      input(name='handle', type='hidden', value= handle)
      input(name='newpwd', type='password', placeholder='Type Password', required='true')
      input(name='confirmpwd', type='password', placeholder='Re-Type Password', required='true')
      button(type='submit') Reset Password

